

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<table>
  <thead>
    <tr>
      <th>Created events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= link_to event.name , event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Previously attended events</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% prev = @user.attended_events.reject {|event| event.date > Time.current} %>
  <tbody>
    <% prev.each do |event|  %>
      <tr>
        <td><%= link_to event.name , event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Upcoming events</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% upcoming = @user.attended_events - prev%>
  <tbody>
    <% upcoming.each do |event|  %>
      <tr>
        <td><%= link_to event.name , event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
