<%= form_with(model: event, local: true) do |form| %>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body" style="padding-top: 0px;">
      <div class="container" >
        <div class="columns is-centered">
          <div class="box">
            <% if event.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
                <ul>
                  <% event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <%= form.text_field :name, class:"input", placeholder:"Birthday Party" %>
              </div>
            </div>
            <div class="field">
              <label class="label">Date</label>
              <div class="control">
                <%= form.date_field :date, class:"input"%>
              </div>
            </div>
            <div class="field">
              <label class="label">Location</label>
              <div class="control">
                <%= form.text_field :location, class:"input", placeholder:"Bob's house" %>
              </div>
            </div>
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <%= form.text_area :description, class:"textarea", placeholder:"Celebrating the big 30!" %>
              </div>
            </div>
            <div class="checkbox">
              <label class="label">Private?</label>
              <div class="control">
                <%= form.check_box :private, class:"checkbox"%>
              </div>
            </div>
            <div class="control">
              <div class="actions">
                <%= form.submit %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<style>
  .section{
  margin: 0px;
  padding: 0px;
  }
  <style>
