

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Past events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.past.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Upcoming events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.upcoming.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New event', new_event_path %>
<br>