<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Date</strong>
  <%= @event.date %>
</p>
  <p>
  <strong>Location</strong>
  <%= @event.location %>
</p>
<p>
  <strong>Description</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Created by</strong>
  <%= @event.user.username%>
</p>

<table>
  <thead>
    <tr>
      <th>Attendees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><%= link_to attendee.username , user_path(attendee) %></td>
      </tr> 
    <% end %>
  </tbody>
</table>
<br>

<%= button_to 'Attend', attend_path(user_id: current_user.id, event_id: @event.id)%>

<br>
<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


